<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Activity_Helper, <%= @user.username %></h1>
    <p>
      Please Login To Website To Accept Friend Request From-
      <%=@from.username%><br>
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>