.comment-form{
  display: none;
  input[type="text"]{
    width:412%;
    height:50px;
  }
}

.comments-partial{
  background-color: #F5A9E1;
  border:1px solid;
  border-color: #2E2EFE;
  border-radius: 4px;
  margin-bottom: 2px;
  padding:5px;
  .timestamp{
  
  }
}
