$grayLight:#999;

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.addfriend{
  margin-top: -3%;
  float: right;
  font-weight: bold;
  .friend-link{
    color: white;
    text-decoration: none;
  }
}

.friends-section{
  min-height:200px;
  border-color: #2E2EFE;
  border-style: solid;
  border-width:1px;
  background-color: #E6E6E6;
  padding:10px;
  padding-bottom: 0px;
  border-radius: 6px;
  margin-bottom: 5px;
 .friends{
  text-align:center;
 border:1px solid;
  border-color: #2E2EFE;
  float:left;
  background-color: #F5A9E1;
  border-radius: 4px;
  /*margin-bottom: 2px;*/
  padding:5px;
  margin-right: 10px;
  min-height: 60px;
  min-width: 60px;
 } 
}
.users{
  background-color: #E6E6E6;
  border-width: 2px;
  border-style: solid;
  border-color: #2E2EFE;
  border-radius: 6px;
  padding:5px;
  padding-bottom: 0px;
  .list-users{
    background-color: #F5A9E1;
    border:1px solid;
  border-color: #2E2EFE;
    min-height: 35px;
    padding: 5px;
    margin:5px;
    border-radius: 6px;
    .status{
      float: right;
      padding:5px;
    }
  }
}

.msg-form{
padding-top:10px;
float:relative;

   textarea{
    rows:10;
    cols:10;
      
  }
    
}

.messages-partial{
display:none;
  border-color: #2E2EFE;
    border-style: solid;
    border-width:1px;
  background-color: #E6E6E6;
  padding:10px;
  padding-bottom: 0px;
  border-radius: 6px;
  margin-bottom: 5px;
  .timestamp{
      color: #999;
  }
}

.messages{
  background-color: #F5A9E1;
  border-radius: 4px;
  margin-bottom: 2px;
  padding:5px;
  .timestamp{
  
  }
}

.msg{
  margin-left: 40px;
}

h3{
  text-align: center;
}